body {
    background-color: #011424;
    color: white;
}

.answer-container {
    display: flex;
    margin-bottom: 12px;
    width: 100%;
    border-radius: 4px;
    background: #f45000;
    font-size: 48px;
    min-width: 1280px;
}

.answer-container:hover {
    cursor: pointer;
    box-shadow: 0 6px 22.4px 0 rgba(6, 103, 247, 0.5);
    transform: scale(1.02);
    transform: transform 100ms;
}

.answer-prefix {
    padding: 32px 40px;
    color: white;
}

.answer-text {
    padding: 32px;
    width: 100%;
}

.correct {
    background: linear-gradient(32deg, rgba(11, 223, 36) 0%, rgb(41, 232, 111) 100%);
}

.incorrect {
    background: linear-gradient(32deg, rgba(230, 29, 29, 1) 0%, rgb(224, 11, 11, 1) 100%);
}

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

#progBar {
    width: 320px;
    height: 48px;
    border: 3px solid #0bdf24;
    margin-top: 32px;
    border-radius: 50px;
    overflow: hidden;
}

#progBarFull {
    height: 100%;
    background: #0bdf24;
    width: 0%;
}

@media screen and (max-width: 1920px) {
    .answer
    container {
        min-width: 600px;
    }
}